/* adddetails.css */
.add-pet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #99b2d6, #c0dd2d);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 5%;
}
#main-topic-form {
  font-size: 2rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #4a90e2, #28a745);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="text"] {
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4a90e2;
  outline: none;
}

.upload-button {
  background: linear-gradient(135deg,#377f81, #5c8bdd);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #357ABD;
}

#submit-button-additem {

  color: rgb(8, 8, 8);
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  background: linear-gradient(135deg,#75cfd0, #cadb74);
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.my-items-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: linear-gradient(135deg, #27ce06, #c0dd2d);
  color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.my-items-button:hover {
  background-color: #5a6268;
}

img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-progress {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.error {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
